<h3>Search by Title</h3>
<form action=<%= results_path %> method="get">
  <%= text_field_tag(:movie_title, nil, id:"movie-title-field") %>
  <input type="submit" value="Search" id="movie-title-submit">
</form>
