<h3>Search by Title</h3>
<%= form_tag(results_path, method: "get") do %>
  <%= text_field_tag(:movie_title, nil, id:"movie-title-field") %>
  <%= submit_tag('Search', id:"movie-title-submit") %>
<% end %>
